<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech to LaTeX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

</head>
<body style="min-height: 100%">

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">Speech to LaTeX</a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Tired of typing LaTeX?</h1>
        <div class="row center">
            <h5 class="header col s12 light">Then simply dictate me a mathematical expression and I will give you its
                LaTeX syntax!</h5>
        </div>
        <div class="row center">
            <a href="#!" id="try_it_but"
               class="btn-large waves-effect waves-light orange">Try It Now!</a>
        </div>
        <br><br>

        <div id="record" class="row center">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel">
                    <h6 class="light">Recording in the browser is in development, for now simply upload a .wav
                        file:</h6>
                    <form action="/process_audio" method="post" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn light-blue lighten-1">
                                <span>File</span>
                                <input type="file" accept="audio/*;capture=microphone" name="audio_input"
                                       id="audio_input">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <input class="btn-large waves-effect waves-light light-blue lighten-1" type="submit"
                               value="Send"
                               name="submit">
                    </form>
                </div>
                <br/>
                <div class="row center">
                    <h5>OR</h5>
                </div>

                <div class="row center">
                    <a href="/run_with_sample"
                       class="btn-large waves-effect waves-light light-blue lighten-1">Run with a sample</a>
                </div>
            </div>
        </div>

    </div>
</div>


<!--<footer class="page-footer orange">-->
<!--<div class="container">-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col l6 s12">&ndash;&gt;-->
<!--&lt;!&ndash;<h5 class="white-text">Company Bio</h5>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's&ndash;&gt;-->
<!--&lt;!&ndash;our full time job. Any amount would help support and continue development on this project and is&ndash;&gt;-->
<!--&lt;!&ndash;greatly appreciated.</p>&ndash;&gt;-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col l3 s12">&ndash;&gt;-->
<!--&lt;!&ndash;<h5 class="white-text">Settings</h5>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col l3 s12">&ndash;&gt;-->
<!--&lt;!&ndash;<h5 class="white-text">Connect</h5>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a class="white-text" href="#!">Link 4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div class="footer-copyright">-->
<!--<div class="container">-->
<!--&lt;!&ndash;Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<script>
    (function ($) {
        $(function () {
            $('#record').hide();
            $('#try_it_but').click(function () {
                $('#record').show();
            })
        });
    })(jQuery);

</script>
</body>
</html>