<div class="full-screen">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo center">Speech to LaTeX</a>
    </div>
  </nav>
  <div id="welcomepage" class="container">
    <h1 class="header center orange-text">Tired of typing <latex></latex>?</h1>
    <div class="row center">
      <h5 class="header col s12 light">Then simply dictate me a mathematical expression and I will give you its
            <latex></latex> syntax!</h5>
    </div>
    <div class="row center">
      <a pageScroll href="#voice-recording" id="try_it_but"
           class="btn-large waves-effect waves-light orange">Try It Now</a>
    </div>
  </div>
</div>

<div id="voice-recording" class="light-blue lighten-1 full-screen section">
  <div class="container">
    <h3 class="center white-text">Speech to Text</h3>
    <div class="row center">
      <a (click)="record()" [class.disabled]="recording || convertingToText" [class.pulse]="recording" class="btn-floating btn-large waves-effect waves-light orange">
        <i class="large material-icons">keyboard_voice</i>
      </a>
    </div>
    <div class="progress" [class.hidden]="!convertingToText">
      <div class="indeterminate"></div>
    </div>
    <div class="card-panel">
      <textarea [disabled]="recording || convertingToText" [(ngModel)]="rawText" class="materialize-textarea" placeholder="Recorded speech..."></textarea>
    </div>
    <div class="row center">
      <a pageScroll (click)="convertToLatex()" href="#convert-to-latex" [class.disabled]="rawText == undefined || rawText.length < 1"
           class="btn-large waves-effect waves-light orange">Convert To LaTeX</a>
    </div>
  </div>
</div>

<div id="convert-to-latex" class="full-screen section">
  <div class="container">
    <h3 class="center">... to <latex></latex></h3>
    <div class="card-panel">
      <textarea [disabled]="convertingToLatex" [(ngModel)]="latexText" class="materialize-textarea" placeholder="LaTeX syntax..."></textarea>
    </div>
    <ng-katex [equation]="latexText"></ng-katex>
  </div>
</div>

<footer class="page-footer light-blue lighten-1">
  <div class="footer-copyright">
    <div class="container">
      © {{actualYear}} Anselme Goetschmann. With the idea of <a class="white-text" href="https://github.com/JackieGauthier">Jackie</a>.
      <div class="grey-text text-lighten-3 right">
        Made with <a class="white-text" href="https://angular.io/">Angular</a>,
        <a class="white-text" href="http://materializecss.com/">Materialize</a>,
        <a class="white-text" href="https://cloud.google.com/speech/">Google Speech API</a>,
        <a class="white-text" href="https://socket.io/">Socket.IO</a> and
        <a class="white-text" href="https://www.npmjs.com/package/ng-katex">KaTeX</a>.
        Source on <a class="white-text" href="https://github.com/agoetschm/speech-to-latex">GitHub</a>.
      </div>
    </div>
  </div>
</footer>
