html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-screen {
    min-height: 100%;
}

#welcomepage {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}
